<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skyrockit</title>
    <style>
      body {
        margin: 0;
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
        color: #0077cc;
      }

      p {
        font-size: 1.2em;
        color: #333;
      }

      nav {
        display: flex;
        flex-direction: row;
      }
      nav a {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Skyrockit</h1>
    <p>A job application tracker.</p>

    <%- include('./partials/_navbar.ejs') %>
  </body>
</html>
